<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <title>{{ title | default: 'codyconfer.me' }}</title>
    <link rel="icon" type="image/jpg" href="/assets/images/{{ icon | default: 'avatar.webp' }}"/>
    <meta name="theme-color" content="{{ theme-color | default: '#002b36' }}">
    <meta name="rating" content="{{ rating | default: 'General' }}">
    <meta name="geo.region" content="{{ region | default: 'US-CO' }}">
    <meta name="geo.placename" content="{{ place | default: 'Fort Collins' }}">
    <meta name="geo.position" content="{{ position | default: '40.5853,-105.0844' }}"/>
    {% getBundle "fontawesome" %}
    <script>
        {% include "js/headerScripts.liquid" %}
    </script>
    <style>{% include "layouts/parts/styles.liquid" %}</style>
</head>
<body id="prf" class="veil hidden">
{{ content }}
</body>
</html>
